* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   



   .click-btn {
    display: flex;
    width: 90px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    line-height: 35px;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.35s;
    box-sizing: border-box;
  }
  
   .btn-style3 {
    $btn-color: #ddf3ef;
    $btn-hover-color: #ddf3ef;
    border-color: $btn-color;
    color: $btn-color;
    &:hover {
      transform: translateY(-0.25em);
      box-shadow: 0 0 0em 0em $btn-hover-color;
      border-color: #36ead2;
      color: #36ead2;
    }
  }
 