[phases.setup]
nixPkgs = ['nodejs_18', 'openssl']

[phases.install]
cmds = [
  'cd backend',
  'npm config set fetch-retries 5',
  'npm config set fetch-retry-mintimeout 20000',
  'npm config set fetch-retry-maxtimeout 120000',
  'npm install --prefer-offline --no-audit'
]

[phases.build]
cmds = ['cd backend && npx prisma generate']

[start]
cmd = 'cd backend && node server.js'
