[phases.setup]
nixPkgs = ['nodejs_18', 'openssl']

[phases.install]
cmds = ['cd backend && npm install']

[phases.build]
cmds = ['cd backend && npx prisma generate']

[start]
cmd = 'cd backend && node server.js'
