input{
  outline: none;
  border: 2px solid rgba(200, 200, 200, 0.3);
  padding: 10px;
  border-bottom: 1.4px solid transparent;
  transition: all 1ms ease-in-out;
  font-size: 12px;
  &::placeholder {
    color: rgba(200, 200, 200, 1);
  }
  &:not(:last-of-type) {
    border-bottom: 1.5px solid rgba(200, 200, 200, 0.4);
  }
  &:focus {
    outline: none;
    border-bottom: 2px solid #040130;
  }}
 

  .SubmitButton{
    padding: 11px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #040130e6;
    margin:auto;
    text-align:center;
    margin-top:0;
  }