@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100");

html, body {
  font-family: "Roboto Mono", monospace;
  background: #212121;
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-weight:bold;
  color: #ddf3ef;
  font-family:'Courier New', Courier, monospace;
}
  
.dud {
  color: #ddf3ef;
}
